# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/

# Variables y credenciales
.env
*.env
config/db_connection.env

# Datos locales
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
